* {
	box-sizing: border-box;
	marigin: 0;
	padding: 0;
}
body {
	background: #404142;
	font-family: 'Open Sans', sans-serif;
	color: azure;
	font-weight: 300;
    font-size: 0.9em;
}
ul {
	list-style: none;
}

.top-header {
	align-items: center;
	background: #434343;
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	margin-bottom: 20px;
}
.top-header a {
	padding-left: 10px;
}
.top-header a:link {
    color: azure;
    text-decoration:none;
}
.top-header a:visited {
    color: azure;
}
.top-header a:hover {
    text-decoration: none;
}

.top-navbar {
	flex:1;
}

.top-header span {
    padding-right:9px;
}

.avatar {
    background: #FFFFFF;
    border-radius: 50%;
    color: #333C4D;
    height: 40px;
    margin-right: 20px;
    margin-left: 9px;
    padding-left: 8px;
    padding-top: 5px;
    width: 40px;
}

.main-section {
	margin-top:80px;
	margin-bottom: 80px;
}
.main-section h1 {
	padding-top: 20px;
	text-align: center;
	font-size: 100px;
	font-family: Times New Roman;
	color: #FFFFFF;
}
.search-wrapper {
    display: flex;
    margin-left:180px;
    margin-right:180px;
    justify-content:space-between;
}
.main-section input[type=text]{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding: 15px;
}
.main-section button {
	padding: 6px 10px;
  	background: #ddd;
  	font-size: 17px;
  	border: none;
  	cursor: pointer;
}

.wrapper {
    display: flex;
    width: 100%;
    flex:1;
}
input {
    flex-grow: 2;
}
.footer {
	position:absolute;
    font-size: 0.8em;
    bottom: 120;
    width: 98%;
    height: 80px;
}
footer p {
    text-align: center;
}

footer a { 
    color: #FFFFFF;
}

footer p.title {
    font-size: 1.2em;
    padding: 15px;
}

footer ul {
    align-items: center;
    display: flex;
    padding: 0px;
}
footer ul li {
    flex: 1;
}
